/**********************************************************************************/
/*media below 1456px(smaller laptop)*/
/*********************************************************************************/

@media (max-width: 91em){
    html{
      font-size: 56.25%;
    }
    
    .maps{
      width:500px;
      height:400px;
    }
    }
    
    
     /**********************************************************************************/
    /*media below 1286px(landscape tablets)*/
    /*********************************************************************************/
    
    @media (max-width: 80em){
      html{
        font-size: 50%;
      }
      
    
    
      .maps{
        width:450px;
        height:370px;
      }
      }
    
       /**********************************************************************************/
    /*media below 1136px(tablets)*/
    /*********************************************************************************/
    
    
    @media (max-width: 71em){
      .scrolldown {
        margin-top: 0;
      }

      body{
        cursor:auto
    }
    
      .cursor-dot, .cursor-outline{
        display: none;
          }
      
    
     .container--about{
      grid-template-columns:1fr;
      justify-items: center;
      padding: 13rem 25rem;
     }
     .about__img{
      width: 50rem;
    }
    
    .container--experience{
      padding: 13rem 10rem;
      margin: 0 3rem
    }
    
    
    .path{
    
      &__imgbox{
        &-regis{
          height: 12rem;
        }
    
        &-whc{
    height: 8rem;
        }
    
        &-rmh{
          height: 16rem;
        }
    
        &-monash{
          height: 10rem;
        }
    
        &-deakin{
          height: 15rem;
        }
    
        &-eh{
          height: 12rem;
        }
      }
    }
    
    .path__textbox-card {
      width: 40rem;
      height: 23rem;
     }
    
     .container--contact{
      padding: 13rem 10rem;
      margin: 0 1rem
    }
    
    
    
    .section--testimonial{
      height: 85rem;
     
    }
    
      .maps{
        width:370px;
        height:320px;
      }
    
      input, textarea {
        width: 35rem;
      }
      }
    
         /**********************************************************************************/
    /*media below 870px(small tablets)*/
    /*********************************************************************************/
    @media (max-width: 55em){
      html{
        font-size: 45%;
      }
      
    
    
      .btn-mobile-nav{
        display: block;
        z-index: 100;
      }
    
    
    
      .nav__links{
        background-color: rgb(51, 51, 51,0.9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        transition: all 0.5s;
      
        //hide nav-mobile
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    .nav__open .nav__links{
      opacity: 1;
      pointer-events: auto;
        visibility: visible;
    }
    
    .nav__open .icon-mobile-nav[name="close-outline"]{
      display: block;
    }
    .nav__open .icon-mobile-nav[name="menu-outline"]{
      display: none;
    }
    
      .nav__link:link,
      .nav__link:visited {
        font-size: 3.2rem;
        
      }
    
    
      .container--about{
        padding: 13rem 7rem;
       }
      
      .container--experience{
        padding: 13rem 5rem;
        margin: 0 2rem
      }
      
      
      .path{
      
        &__imgbox{
          &-regis{
            height: 10rem;
          }
      
          &-whc{
      height: 6rem;
          }
      
          &-rmh{
            height: 13rem;
          }
      
          &-monash{
            height: 8rem;
          }
      
          &-deakin{
            height: 12rem;
          }
      
          &-eh{
            height: 10rem;
          }
        }
      }
      
      .path__textbox-card {
        width: 35rem;
        height: 20rem;
       }
    
       .section--testimonial{
        padding: 13rem 5rem;
       margin: 0 5rem;
      }
      
      .container--contact{
        padding: 13rem 5rem;
        margin: 0 5rem
      }
      .maps{
        width:300px;
        height:260px;
      }
    
      input, textarea {
        width: 30rem;
      }
      }
    
    /**********************************************************************************/
    /*media below 735px(phones)*/
    /*********************************************************************************/
    @media (max-width: 46em){
      html{
        font-size: 45%;
      }
      
      .nav__logo{
        position: absolute;
        top: 2rem;
        left: 3rem;
      }
    
      .container--about{
        padding: 13rem 7rem;
        gap: 3rem;
       }
    
       .about__img-box{
        padding: 0 2rem;
      }
    
       .about__img{
        width: 35rem;
      }
      
      
    .info__details{
      &-lists{
        grid-template-columns: 1fr;
      }
    }
      
      .container--experience{
        padding: 13rem 5rem;
        margin: 0 2rem
      }
      
      .data__cards{
        grid-template-columns: 1fr;
        gap: 5.6rem;
        justify-items: center;
        }
    
      .path{
    
        grid-template-columns:1fr;
      
        &__imgbox{
          &-regis{
            height: 10rem;
          }
      
          &-whc{
      height: 6rem;
          }
      
          &-rmh{
            height: 13rem;
          }
      
          &-monash{
            height: 8rem;
          }
      
          &-deakin{
            height: 12rem;
          }
      
          &-eh{
            height: 10rem;
          }
        }
      }
      
      .path__textbox-card {
        width: 35rem;
        height: 20rem;
       }
    
       .path__imgbox:nth-child(2){
        grid-row: 1;
       }
       .path__imgbox:nth-child(6){
        grid-row: 5;
       }
       .path__imgbox:nth-child(10){
        grid-row: 9;
       }
       .path__imgbox:nth-child(14){
        grid-row: 13;
       }
    
       .section--testimonial{
        padding: 13rem 5rem;
       margin: 0 5rem;
      }
    
      .testimonial__header{
        line-height: 1.8rem;
      }
      
      .container--contact{
        padding: 13rem 1rem;
        margin: 0 1rem
      }
    
      .contact__info{
        grid-template-columns:1fr;
        gap: 1.6rem;
      }
      .maps{
        width:300px;
        height:260px;
      }
    
      input, textarea {
        width: 40rem;
      }
    
      .footer{
      
      
        ul{
          display: flex;
    flex-direction: column;
          gap: 1.2rem;
          width: 15rem;
        }
      }
      .form__button::after {
        display: none;
        }
     
      }
    
    
     
    /**********************************************************************************/
    /*media below 464px(small phones) */
    /*********************************************************************************/
    @media (max-width: 29em){
     
      .social{
        left: 1rem;
        bottom: 2rem;
      }  
    
    
    
    .hero__heading{
      text-align: center;
    }
    
    
    .welcome__description{
    &::before{
    content: '';
    top: 1px;
    right: -20px;
    }
    &::after{
    content: '';
    
    top: 1px;
    left: -20px;
    }
    }
    
    .experience__description{
    &::before{
    content: '';
    top: 3px;
    right: -20px;
    }
    &::after{
    content: '';
    
    top: 3px;
    left: -20px;
    }
    }
    
    
    .welcome__title{
      font-size: 2rem;
      }
      
      .welcome__header{
       font-size: 2.2rem;
       }
    
    
    .container--about{
      padding: 13rem 2rem;
      gap: 3rem;
     }
    
     .about__img-box{
      padding: 0 .5rem;
    }
    
    
    .container--experience{
      padding: 13rem 1rem;
      margin: 0 1rem
    }
    
    .path__textbox-card {
      width: 32rem;
      height: 17rem;
     }
    
    
     .section--testimonial{
      padding: 13rem 5rem;
     margin: 0 0.5rem;
    }
    
      .maps{
        width:240px;
        height:220px;
      }
    
      input, textarea {
        width: 30rem;
      }
      }
    
    